<p>
  <b>Name:</b>
  <%= @environment.name %>
</p>

<p>
  <b>Description:</b>
  <%= @environment.description %>
</p>

<p>
  <b>Integrated:</b>
  <%= @environment.integrated %>
</p>

<%= link_to 'Edit', edit_environment_path(@environment) %> |
<%= link_to 'Back', environments_path %> |
<%= link_to 'New', new_environment_path %>
